<footer>
	<div class="container-fluid bg-primary py-5">
		<div class="row text-white">
			<div class="col-lg-4 col-sm-12">
				<h2 class="fs-5">President University</h2>
				President University is an international private university located in the Jababeka Industrial Estate, the largest industrial area in Southeast Asia. PresUniv was founded in 2001 by national entrepreneur Dr. SD Darmono, the founder of the Jababeka Group and Prof. Dr. Juwono Sudarsono, an academic who has held various ministerial positions such as Minister of Environment, Minister of Education and Culture to Minister of Defense. Several figures also contributed in formulating PresUniv to become an international university, such as legal expert Prof. Dr. Charles Himawan, SH, LLM, Ir. Admiral Sukardi, Drs. Utomo Josodirjo, who is known as the Father of Indonesian Accounting, entrepreneur Surjanto Sosrodjojo, and Prof. Donald Watts from the University of Notre Dame, Australia.
			</div>
			<div class="col-lg-4 col-sm-12">
				<h2 class="fs-5">Address</h2>
				Jalan Ki Hajar Dewantara Jababeka Education Park, Cikarang, West Java 17550
			</div>
			<div class="col-lg-4 col-sm-12">
				<h2 class="fs-5">Social Media</h2>
				<!-- List group -->
				<div class="list-group" id="myList" role="tablist">
				  <a class="list-group-item list-group-item-action" data-toggle="list" href="https://www.instagram.com/president_university/" role="tab"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
				  <a class="list-group-item list-group-item-action" data-toggle="list" href="" role="tab"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
				  <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab"><i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp</a>
				  <!-- <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a> -->
				</div>	
			</div>
		</div>
	</div>
</footer>