<%- include('layouts/header'); %> 
<body>
  <%- include('layouts/nav'); %>
	<div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <h2>President University Coin (PUCO)</h2>
        <p class="me-3">
          It all about education funding where futures is in 
          the hand of our young generation.
          PUCO is serving you to get the high quality of education.
          with PUCO we can achieve fast funding in education sector.      
        </p>
        <div class="row my-5">
          <div class="col-lg-12 text-center">
            <a class="btn btn-lg btn-primary" href="/buy" role="button">Buy PUCO</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          src="images/kanchanara-tqHXlT2nPOI-unsplash.jpg"
          class="img-fluid rounded-3"
          alt="puco"
          srcset=""
          height="100"
        />
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center my-5">Why choose PUCO?</h2>
        <p class="text-center mb-5">
          In this era we know that all of things has been moved to internet event in the many aspect and sectors, especially in payment system and payment methode. In purposes to introduce the new thecnology in the payment methode and system, we develop the President University Coin to introduce the new implementations of Blockchain technolgy in education sectors as a payment system and methode.
        </p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 text-center">
        <a class="btn btn-lg btn-primary" href="/products" role="button">Products</a>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <img
          src="images/kanchanara-OqEPgkdX3RA-unsplash.jpg"
          class="img-fluid rounded"
          alt=""
        />
      </div>
      <div class="col-lg-6">
        <img
          src="images/kanchanara-yBIvVaFNWjU-unsplash.jpg"
          class="img-fluid rounded"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-md-12 my-5">
        <h2 class="text-center">Coin Access</h2>
      </div>
      <div class="col-md-3 ">
          <div class="card" style="width:18rem;">
            <img src="images/83790f2b43f00be.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kemendikbud</h5>
              <h6 class="card-subtitle mb-2 text-muted ">Kementrian Pendidikan dan Kebudayaan</h6>
              <p class="card-text">Access to all of education level in Indonesia, delivering the most High Class Content education</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width:18rem;">
            <img src="images/Main_Logo_of_National_Research_and_Innovation_Agency_of_Indonesia.svg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BRIN</h5>
              <h6 class="card-subtitle mb-2 text-muted ">National Research and Innovation Agency Republic Of Indonesia</h6>
              <p class="card-text">The National Research and Innovation Agency is a cabinet-level government agency formed by the Indonesian government in 2019. Work together to funding the reseacrh related to the education in Indonesia</p>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-12 my-5">
          <h2 class="text-center">Coin Overview</h2>
      </div>
    </div>
    <div class="row " style="padding-left: 38%;">
      <div class="col-md-3 text-center ">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">$0</h5>
            <p class="card-text">Coin Price</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left: 38%;">
      <div class="col-md-3  ">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">$0</h5>
            <p class="card-text">Coin Volume</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left: 38%;">
      <div class="col-md-3  ">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">0</h5>
            <p class="card-text">Total Supply</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left: 38%;">
      <div class="col-md-3  ">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">200.000.000</h5>
            <p class="card-text">Max Supply</p>
          </div>
        </div>
      </div>        
    </div>
  </div>
  
  <%- include('layouts/footer'); %>
</body>
<%- include('layouts/closer')  %> 