<%- include('layouts/header') %>  
<body>
    <%- include('layouts/nav') %> 
    <h1 class="text-center my-5">PU Chain Product</h1>

		<div class="container my-5">
			<div class="row">
				<div class="col-lg-6">
					<h2>President University Agriculture Chain</h2>
					<p>
						The goal of PUAC is to become the greatest industry-wide platform for managing the
						agricultural supply chain, combining sellers and buyers, and helping bulk logistics
						businesses to manage and develop their operations. <br><span><strong>Author: Annisa Nurdiana</strong></span>
					</p>
					<div class="row mt-5">
						<div class="col-lg-12 text-center">
							<!-- <button type="button" class="btn btn-lg btn-primary shadow-sm">View</button> -->
							<a name="" id="" class="btn btn-lg btn-primary" href="https://projectquiz001.000webhostapp.com/Blockchain/PUAC/" role="button">View</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<img
						src="images/erwan-hesry-1q75BReKpms-unsplash.jpg"
						class="img-fluid rounded"
						alt=""
					/>
				</div>
			</div>
			<div class="row my-5">
				<div class="col-lg-6">
					<img
						src="images/chuttersnap-fN603qcEA7g-unsplash.jpg"
						class="img-fluid rounded"
						alt=""
					/>
				</div>
				<div class="col-lg-6">
					<h2>President University Supply Chain</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure distinctio explicabo
						aliquid cum. Eius fugiat molestias magnam velit ut illo sunt accusantium nisi,
						natus blanditiis excepturi cumque maxime consequatur deserunt, libero ex iure
						placeat facilis suscipit quo reiciendis, veritatis fugit inventore? Nam assumenda
						corporis optio expedita excepturi ipsam hic quisquam amet, perferendis iusto
						ratione repellat rerum consectetur natus soluta culpa. Consequuntur provident id
						asperiores excepturi non architecto explicabo, libero perferendis voluptatem,
						numquam ipsum eum obcaecati qui quis rem cupiditate eos quam, tempora velit atque
						optio incidunt hic corporis dolor! Obcaecati autem officia mollitia nihil nam
						ipsa, esse alias quo eligendi?
					</p>
					<div class="row mt-5">
						<div class="col-lg-12 text-center">
							<button type="button" class="btn btn-primary btn-lg shadow-sm">View</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row my-5">
				<div class="col-lg-6">
					<h2>President University Industry Chain</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laboriosam nemo
						aperiam saepe eius dolor, magnam error dolorem vitae eveniet fugiat tempora fugit
						rerum suscipit a assumenda nobis consequatur? Nesciunt ducimus quis perspiciatis,
						blanditiis quam dignissimos officiis id dolores vel maxime eaque neque ratione
						tenetur, quasi, quo rerum saepe reiciendis porro a illo recusandae maiores. Vitae,
						rerum consequatur numquam ratione accusamus quisquam itaque exercitationem laborum
						facere sit. Culpa inventore quia nam iusto aliquam dolores labore aut alias,
						minima possimus adipisci, sed suscipit! Aliquam laborum unde dignissimos, nemo qui
						iure mollitia incidunt amet. Dolorem fugit excepturi consequatur nobis ab
						repellendus exercitationem?
					</p>
					<div class="row mt-5">
						<div class="col-lg-12 text-center">
							<button type="button" class="btn btn-primary btn-lg shadow-sm">View</button>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<img
						src="images/dimitry-anikin-o2Q3EKUL3wI-unsplash.jpg"
						class="img-fluid rounded"
						alt=""
					/>
				</div>
			</div>
		</div>
		<%- include('layouts/footer') %> 
</body>
<%- include('layouts/closer')  %> 