/* .title {
	margin-top: 20vh;
}

.balance {
	width: 20vw;
	height: 30vh;
	margin: auto;
}

.input-group {
	width: 38%;
	margin: 8vh auto;
}

.address {
	width: 38%;
}

.tombol .m-auto {
	margin: auto auto auto 33.5vw;
} */
